@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  overscroll-behavior-x: contain;
  background: #fff;
}

body {
  position: relative;
  min-height: 100vh;
  touch-action: pan-y;
}

@theme {
  --color-primary: #2563EB;
  --color-primary-dull: #1F58D8;
  --color-light: #F1F5F9;
  --color-borderColor: #c4c7d2;
}